@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    color: white;
    margin: 0;
    box-sizing: border-box;

}

table{
    border-style: solid;
    border-color: #CB6CE6;
    border-width: 3px;
    border-radius: 12px;
    border-collapse: collapse;
    display: inline-block;
}

.containertable{
    float: left;
    width: 50%;
    padding: 20px;
    align-items: center;
    margin:auto;
}

th{
    background-color: #CB6CE6;
    margin: none;
}

td{
    border-top: 1px solid white;
    padding-top: 10px;
    padding-bottom: 5px;
}
tr{
    max-height: 800px;
}

h1{
    padding: 10px;
    margin: auto;
    text-align: center;
}

h2{
    padding:10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h3{
    text-align: center;
    margin: auto;
    padding: 3px;
}

ul{
    position: sticky;
    top: 0;
    list-style-type: none;
    background-color: #16E483;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-height: 40px;
    z-index: 1;
    width: 100%;
}
li{
    float: left;
}
li a{
    display: inline-block;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
}

.divimg{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212529;
}

.divimg img{
   width: 60%;
}

img{
    position: relative;
    margin: auto;
}

#pesquisa_direita{
    line-height: 40px;
    float: right;
    position: relative;
    right: 5px;
}
li img{
    position: relative;
    height: 40px;
    margin: 0px;
    padding: 0px;
}

li a:hover{
    background-color: #78308c;
    margin:0px;
    height: 40px;
} 
li a:active{
    background-color: white;
    color: black;
}

.fundo{
    background-color: #343a40;
}
.rodape{
    background-color: #212529;
    height: 200px;
    padding: 20px;
}

.material-symbols-outlined {
  
    font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: red;
}


.classificacao{
    font-size: 2em;
    color:#CB6CE6;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }